<!DOCTYPE html>
<html lang="en">

	<meta charset="UTF-8">
		<% include partials/title.ejs %>
	  <link href="/resources/styles.css" rel="stylesheet" type="text/css" />

	  <body>
		<% include partials/header.ejs %>

		<% include partials/user-navigation.ejs %>
		<main>
		  <% include partials/site-navigation.ejs %>

			<section class="content-data-categories">
				<!--  Breadcrumb -->
				<div class="breadcrumb-div">
					<ul class="breadcrumb">
					  <li><a href="/index">Home > </a> </li>
					  <li><a href="/categories">Categories</a></li>
					</ul>
				</div>

				<table id="main-category">

				  <tr>

					<td>
						<img src="resources/category-puzzle.jpg" alt="Puzzle Category">
							<div class="overlay-effect">
								<div class="text">


								<h4><%= catalogueCategory[0]%></h4>

									<ul>
										<li><a href="/item?itemCode=<%=itemCode[0]%>"><%= itemsList[0]%></a></li>
										<li><a href="/item?itemCode=<%=itemCode[1]%>"><%= itemsList[1]%></a></li>
										<li><a href="/item?itemCode=<%=itemCode[2]%>"><%= itemsList[2]%></a></li>
									</ul>
								</div>
							</div>

					</td>

					<td>
						<img src="resources/category-miniature-figure.jpg" alt="Miniature Figure Category">
							<div class="overlay-effect">
								<div class="text">

								<h4><%= catalogueCategory[1]%></h4>
									<ul>
										<li><a href="/item?itemCode=<%=itemCode[3]%>"><%= itemsList[3]%></a> </li>
										<li><a href="/item?itemCode=<%=itemCode[4]%>"><%=itemsList[4]%></a></li>
										<li><a href="/item?itemCode=<%=itemCode[5]%>"><%= itemsList[5]%></a></li>

									</ul>
								</div>
							</div>

					</td>


				  </tr>

				</table>

			</section>
		</main>

		  <% include partials/footer.ejs %>

	</body>

</html>
